.dashBox1 {
    background-color: var(--white);
    border-radius: 15px;
    width: 60%;
    height: 20vh;
    margin: 17px;
    padding: 0;
}

.dashBox2 {
    background: var(--primary);
    border-radius: 15px;
    width: 40%;
    margin: 17px;
    padding: 0;
}

.dashBox3 {
    background: var(--white);
    border-radius: 15px;
    margin: 17px;
    height: 60vh;
    padding: 0;
}

.dashBox4 {
    background: var(--white);
    border-radius: 15px;
    margin: 17px;
    height: 50vh;
    padding: 0;
}

.dashBox5 {
    background: var(--light-gray);
    border-radius: 15px;
    margin: 17px;
    height: 30vh;
    padding: 0;
}

.dashBoxHeader {
    padding-top: 19px;
    padding-left: 19px;
}

.dashBoxDescription {
    font-family: 'Montreal-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.dashBoxNum {
    font-family: 'Montreal-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
}

.dashContainer {
    height: 100vh;
    width: 100vw;
    background: blue;
}