.navContainer {
    background: var(--black);
    height: 100%;
    width: 80px;
    border-radius: 15px;
    height: 92vh;
    margin-right: 20px;
}

.navButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 20px;
}

.selected {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background: var(--primary);
    margin-top: 10px;
    margin-bottom: 10px;
}

.unselected {
    color: var(--white);
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}